.max-container{
    margin: 0px auto;
    max-width: 1174px;
}
.container, .header, .max-container{
    margin: 0px auto;
    width: 100%;
}
.header figure{
    width: 100%;
    height: 280px;
}
.header figure img{
    object-fit: cover;
    width: 100%;
    height: 295px;
}